# Homework 3
## Task 4

In [18]:
## Importing libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [19]:
## Importing Data Set
other = pd.read_csv('Others.csv')
other.head(10)

     Attr 0    Attr 1   Attr 2                  Attr 3 Labels
0  New York      Blue     Teal  Command Sergeant Major      X
1    Warsaw       Red   Purple    Private Second Class      X
2     Paris    Purple     Blue                 Private      Y
3    Warsaw     Green   Purple                 Private      Y
4    Warsaw      Pink   Orange                 Private      Z
5  New York    Orange  Magenta  Command Sergeant Major      Z
6  New York  Lavender   Orange              Specialist      Z
7  Shanghai       Red    Green                Corporal      X
8  New York       Red   Yellow    Private Second Class      X
9  New York      Cyan     Pink    Sergeant First Class      Y

In [20]:
## Generating Data Quality Report, Summary Table for The Categorical Features
other.describe()

        Attr 0 Attr 1  Attr 2   Attr 3 Labels
count     1000   1000    1000     1000   1000
unique       8     12      12       12      3
top     Warsaw    Red  Purple  Private      X
freq       495    417     102      103    340

In [23]:
other.dtypes

Attr 0    object
Attr 1    object
Attr 2    object
Attr 3    object
Labels    object
dtype: object